.microphone {
    border-top-right-radius: 32px !important;
    border-bottom-right-radius: 32px !important;
    background-color: #fff;
    margin-left:-10px !important;
  }
  
  .google {
    border-top-left-radius: 32px !important;
    border-bottom-left-radius: 32px !important;
    background-color: #fff
  }
  
  .input-group-prepend {
    margin-right: -2px !important
  }
  
  .input-group-append {
    margin-left: -2px !important
  }
  
  .form-control:focus {
    z-index: -1;
    color: #495057;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: 0 0 0 0 !important
  }
  
  .form-control {
    border-right: 0 !important;
    border-left: 0 !important
  }